include README.md
include LICENSE
include USERGUIDE.md
recursive-include backtester/dashboard/assets *
recursive-include docs/source/_static *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store